<div>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="goToUsers()">
          <ion-icon name="person" color="danger" slot="start"></ion-icon>
          <ion-label>Users</ion-label>
        </ion-item>
        <ion-item (click)="goToMembers()">
          <ion-icon name="people" color="secondary" slot="start"></ion-icon>
          <ion-label>Members</ion-label>
        </ion-item>
        <ion-item (click)="goToSkills()">
          <ion-icon name="podium" color="success" slot="start"></ion-icon>
          <ion-label>Skills</ion-label>
        </ion-item>
        <ion-item (click)="goToSkillsType()">
          <ion-icon name="library" color="warning" slot="start"></ion-icon>
          <ion-label>Skills-type</ion-label>
        </ion-item>
        <ion-item (click)="goToProjects()">
          <ion-icon name="logo-angular" color="danger" slot="start"></ion-icon>
          <ion-label>Projects</ion-label>
        </ion-item>
        <ion-item (click)="goToGroups()">
          <ion-icon name="logo-slack" color="primary" slot="start"></ion-icon>
          <ion-label>Groups</ion-label>
        </ion-item>
        <ion-item (click)="logOut()">
          <ion-icon name="exit" color="medium" slot="start"></ion-icon>
          <ion-label>LogOut</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Members</ion-title>
    </ion-toolbar>
    <ion-searchbar color="medium" animated></ion-searchbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- contenu de la page -->
    <ion-card (click)="actionSheetButton()">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-start" size="3">
              <ion-avatar>
                <img src="../../../assets/images/avatar.jpg" alt="" />
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <ion-row>
                <p>Toky</p>
              </ion-row>
              <ion-row>
                <p>RAKOTONDRABE</p>
              </ion-row>
              <ion-row>
                <ion-badge color="danger">frontend</ion-badge>
                <ion-badge color="secondary">backend</ion-badge>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
