<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToUsers()">
        <ion-icon name="person" color="danger" slot="start"></ion-icon>
        <ion-label>Users</ion-label>
      </ion-item>
      <ion-item (click)="goToMembers()">
        <ion-icon name="people" color="secondary" slot="start"></ion-icon>
        <ion-label>Members</ion-label>
      </ion-item>
      <ion-item (click)="goToSkills()">
        <ion-icon name="podium" color="success" slot="start"></ion-icon>
        <ion-label>Skills</ion-label>
      </ion-item>
      <ion-item (click)="goToSkillsType()">
        <ion-icon name="library" color="warning" slot="start"></ion-icon>
        <ion-label>Skills-type</ion-label>
      </ion-item>
      <ion-item (click)="goToProjects()">
        <ion-icon name="logo-angular" color="danger" slot="start"></ion-icon>
        <ion-label>Projects</ion-label>
      </ion-item>
      <ion-item (click)="goToGroups()">
        <ion-icon name="logo-slack" color="primary" slot="start"></ion-icon>
        <ion-label>Groups</ion-label>
      </ion-item>
      <ion-item (click)="logOut()">
        <ion-icon name="exit" color="medium" slot="start"></ion-icon>
        <ion-label>LogOut</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>